body {
    margin: 0;
    overflow-x: hidden;
    max-width: 100%;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

.MuiAppBar-colorDefault{
  box-shadow: 0px 4px 16px rgba(20, 92, 143, 0.08);
}

.darkButton {
  .MuiSwitch-thumb{
    background:  #004373 url(./icons/Moon.svg) no-repeat center;

  }
  .MuiSwitch-track{
    background: linear-gradient(96.09deg, #178FE1 0%, #66CFB2 100%);
  }
}

.lightButton {
  .MuiSwitch-thumb{
    background:  #FFF url(./icons/Sun.svg) no-repeat center;
  }
  .MuiSwitch-track{
    background: linear-gradient(96.09deg, #178FE1 0%, #66CFB2 100%);  }
}
.MuiTypography-colorPrimary {
  color: #45A5E7 !important;
}